{%include "user/header.html"%}
{%load static%}
<center>
        <h3 class="prescription-head">Your Orders</h3>
        <div class="container">

            <div class="products-container">
                <table class="table table-success table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">S.NO</th>
                        <th scope="col">Order_id</th>
                        <th scope="col">Net Amount</th>
        
                        
                        <th scope="col">Delivery Status</th>
                        <th scope="col">Payment Method</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>48y9823</td>
                        <td>330</td>


                        <td>in-transit</td>
                        <td>COD</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>44759ud</td>
                        <td>660</td>


                        <td>Delivered</td>
                        <td>UPI</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>1291sqd3</td>
                        <td>520</td>


                        <td>in-transit</td>
                        <td>COD</td>
                    </tr>
                    </tbody>
                </table>


            </div>
            

        </div>

    </center>


</body>

</html>